
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title custang mustomizer
    link(rel="stylesheet", href="/build/build.css")
  body
    .content
      h1 custang mustomizer.
    script(src="/build/build.js")
