
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title custang mustomizer
    link(rel="stylesheet", href="/build/build.css")
  body
    .content
      h1 custang mustomizer.
    audio#vrooooom(src="/build/vrooooom/vrooooom.mp3" preload="auto")
    script(src="/build/build.js")
